@font-face {
	font-family:Alegreya;
	font-style:italic;
	font-weight:normal;
	src : url("../../font/AlegreyaItalic-Regular.ttf");
}
@font-face {
	font-family:Alegreya;
	font-style:oblique;
	font-weight:normal;
	src : url("../../font/AlegreyaItalic-Regular.ttf");
}
@font-face {
	font-family:Alegreya;
	font-style:normal;
	font-weight:normal;
	src : url("../../font/AlegreyaRoman-Bold.ttf");
}
@font-face {
	font-family:Alegreya;
	font-style:normal;
	font-weight:normal;
	src : url("../../font/AlegreyaRoman-Medium.ttf");
}
@font-face {
	font-family:Alegreya;
	font-style:normal;
	font-weight:normal;
	src : url("../../font/AlegreyaRoman-Regular.ttf");
}
@font-face {
	font-family:Alegreya;
	font-style:normal;
	font-weight:normal;
	src : url("../../font/AlegreyaRoman_655.000wght_0ital.ttf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:"Textus Plantijn Granjon";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/TextusPlantijnGranjon-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basistekstkader {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:16px;
	font-variation-settings:"wght" 400;
}
span.CharOverride-2 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:12px;
	font-variation-settings:"wght" 400;
}
span.CharOverride-3 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:12px;
	font-variation-settings:"wght" 700;
}
span.CharOverride-4 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:16px;
	font-variation-settings:"wght" 655;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Textus Plantijn Granjon", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:12px;
	font-variation-settings:"wght" 500;
}
span.CharOverride-7 {
	color:#000000;
	font-family:Alegreya, serif;
	font-size:12px;
	font-variant:small-caps;
	font-variation-settings:"wght" 400;
}
#_idContainer000 {
	-ms-transform:translate(209.763px,125.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(209.763px,125.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:94.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.763px,125.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(209.763px,125.141px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:363.97px;
}
